@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Contact.GetContactLinkModel
@{
    ViewData["Title"] = "دریافت لینک کارت حساب شخص";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="Error-Container"></div>
            <div class="d-flex flex-column justify-content-center">
                <div class="form-group">
                    <label for="code">کد شخص مورد نظر</label>
                    <input id="code" class="form-control" name="code" />
                </div>
                <div class="form-group">
                    <label for="showAllAccounts">نمایش سایر حسابها (پیشفرض false)</label>
                    <input id="showAllAccounts" class="form-control" name="showAllAccounts" />
                </div>
                <div class="form-group">
                    <label for="days">تعداد روز اعتبار (پیشفرض 30 روز)</label>
                    <input id="days" class="form-control" name="days" />
                </div>
                <br />
                <button type="submit" class="btn btn-primary submitButton">نمایش</button>
            </div>
            <br />

            <table class="table table-hover table-striped">
                <thead>
                    <tr class="text-center">
                        <th class="text-center">لینک کارت حساب شخص</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" id="tableRow">
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('.submitButton').on('click', () => {

        let code = $('#code').val();
        let showAllAccounts = $('#showAllAccounts').val() ? $('#showAllAccounts').val() : false;
        let days = parseInt($('#days').val()) ? parseInt($('#days').val()) : 30;
        let requestBody = { code: code, showAllAccounts: showAllAccounts, days: days };

        fetch("/api/Contact/GetContactLink", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if(!data.succes) {
                    $("#tableRow td").text(``);
                    $(".Error-Container").css("display", "block");
                    $(".Error-Container").addClass("alert alert-danger");
                    $(".Error-Container").css("direction", "ltr");
                    $(".Error-Container").text(`ErrorCode: ${data.errorCode} ErrorMessage: ${data.errorMessage}`);
                }
                
                if(data.link) {
                    $(".Error-Container").css("display", "none");
                    $("#tableRow td").text(data.link);
                }

            })
            .catch(error => console.error('Error Occured.', error));
    })
</script>