@page
@model HesabfaAPISampleCode.Pages.Accounting.GetModel
@{
    ViewData["Title"] = "دریافت سند حسابداری";
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-group" style="width:100%;">
                    <label for="number" class="form-label">شماره سند مورد نظر</label>
                    <input id="number" class="form-control" name="number" />
                </div>
                <br />
                <div class="d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-primary submitButton">نمایش</button>
                </div>
                <div id="simple-treeview"></div>
            </div>
        </div>
    </div>
}

<script>
    $(".submitButton").on("click", () => {
        fetch("/api/Document/Get", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify($("#number").val())
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                $('#simple-treeview').dxTreeList({
                    dataSource: [data],
                    keyExpr: "id",
                    rtlEnabled: true,
                    columns: [
                        {
                            dataField: 'number',
                            caption: 'شماره سند',
                        },
                        {
                            dataField: 'reference',
                            caption: 'ارجاع'
                        },
                        {
                            dataField: 'date',
                            caption: 'تاریخ'
                        },
                        {
                            dataField: 'description',
                            caption: 'توضیحات',
                            minWidth: 200,
                        },
                        {
                            dataField: 'project',
                            caption: 'پروژه'
                        },
                        {
                            dataField: 'debit',
                            caption: 'بدهکار'
                        },
                        {
                            dataField: 'credit',
                            caption: 'بستانکار'
                        },
                        {
                            dataField: 'status',
                            caption: 'وضعیت سند'
                        },
                        {
                            dataField: 'transactions',
                            caption: 'تراکنش ها',
                            cellTemplate: function (container, options) {
                                var transactions = options.data.transactions;
                                var div = $('<div>').addClass('transaction-container');

                                transactions.forEach(function (transaction) {
                                    var accountPath = transaction.accountPath;
                                    var amount = transaction.amount;
                                    var cashCode = transaction.cashCode;
                                    var bankCode = transaction.bankCode;
                                    var contactCode = transaction.contactCode;
                                    var currency = transaction.currency;
                                    var currencyAmount = transaction.currencyAmount;
                                    var description = transaction.description;
                                    var pettyCashCode = transaction.pettyCashCode;
                                    var info = transaction.Info;

                                    var transactionInfo = $('<div>').addClass('transaction-info');
                                    $('<div>').text('حساب: ' + accountPath).appendTo(transactionInfo);
                                    $('<div>').text('مبلغ: ' + amount).appendTo(transactionInfo);
                                    $('<div>').text('کد صندوق: ' + cashCode).appendTo(transactionInfo);
                                    $('<div>').text('کد بانک: ' + bankCode).appendTo(transactionInfo);
                                    $('<div>').text('کد شخص: ' + contactCode).appendTo(transactionInfo);
                                    $('<div>').text('واحد پول: ' + currency).appendTo(transactionInfo);
                                    $('<div>').text('مبلغ در صورت چند ارزی بودن: ' + currencyAmount).appendTo(transactionInfo);
                                    $('<div>').text('توضیحات: ' + description).appendTo(transactionInfo);
                                    $('<div>').text('کد تنخواه گردان: ' + pettyCashCode).appendTo(transactionInfo);
                                    $('<div>').text('اطلاعات اضافه: ' + info).appendTo(transactionInfo);

                                    transactionInfo.appendTo(div);
                                });

                                div.appendTo(container);
                            }
                        }
                    ],
                    columnAutoWidth: true,
                })
            })
            .catch(error => console.error('Error Occured.', error));
    })
</script>