@page
@model HesabfaAPISampleCode.Pages.Warehouse.GetByIdModel
@{
    ViewData["Title"] = "دریافت حواله انبار از طریق ID";
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="Error-Container"></div>
                <div class="d-flex flex-column justify-content-center">
                    <div class="form-group">
                        <label for="idList">لیست id های رسید و حواله انبار</label>
                        <input id="idList" class="form-control" name="idList" placeholder="1,2,3,..." />
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary submitButton">نمایش</button>
                </div>
                <div id="gridContainer"></div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $('.submitButton').on('click', () => {
        let idList = [$('#idList').val()];
        idList = idList[0].split(',').map(Number);

        fetch("/api/Warehouse/GetById", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(idList)
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                initializeReceiptsByIDListPage(data);
            })
            .catch(error => console.error('Error Occured.', error));
    })
</script>