@page
@model HesabfaAPISampleCode.Pages.Warehouse.GetListModel
@{
    ViewData["Title"] = "دریافت لیست حواله های انبارها";
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="Error-Container"></div>
                <div class="d-flex flex-column justify-content-center">
                    <div class="form-group">
                        <label for="type">نوع رسید یا حواله انبار</label>
                        <select class="form-select" id="type" name="type">
                            <option value="0">انتخاب کنید</option>
                            <option value="1">رسید ورود به انبار</option>
                            <option value="2">حواله خروج از انبار</option>
                        </select>
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary submitButton">نمایش</button>
                </div>
                <div id="gridContainer"></div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $('.submitButton').on('click', () => {

        fetch("/api/Warehouse/GetList", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(parseInt($("#type").val()))
        })

            .then(response => {
                return response.json();
            })
            .then(data => {
                initializeReceiptsListPage(data);
            })
            .catch(error => console.error('Error Occured.', error));
    })

</script>
