@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Setting.GetFiscalYearsListModel
@{
    ViewData["Title"] = "دریافت لیست سال مالی";

    <div class="container">
        <div class="row">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>نام سال مالی</th>
                        <th>تاریخ شروع سال مالی</th>
                        <th>تاریخ پایان سال مالی</th>
                        <th>بسته شده</th>
                        <th>اولین سال مالی</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
}

<script>
    fetch("/api/setting/GetFiscalYears", {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },

    })
        .then(response => {
            return response.json();
        })
        .then(data => {
            let tbody = document.getElementById("tbody");
            data.map(item => {
                let tableRow = document.createElement("tr");

                let Name = document.createElement("td");
                let StartDate = document.createElement("td");
                let EndDate = document.createElement("td");
                let Closed = document.createElement("td");
                let FirstYear = document.createElement("td");


                Name.innerText = item.name;
                StartDate.innerText = item.startDate;
                EndDate.innerText = item.endDate;
                Closed.innerText = item.closed;
                FirstYear.innerText = item.firstYear;


                tableRow.append(Name, StartDate, EndDate, Closed, FirstYear);
                tbody.append(tableRow);
            })
        })
        .catch(error => console.error('Error Occured.', error));
</script>
