@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Report.InventoryModel
@{
    ViewData["Title"] = "گزارش موجودی کالا";
    <div class="row">
        <div class="container">
            <div class="col-12">
                <form method="post" class="d-flex flex-column justify-content-center">
                    <div class="form-group">
                        <label for="startDate">تاریخ شروع</label>
                        <input id="startDate" class="form-control" name="startDate" />
                    </div>
                    <div class="form-group">
                        <label for="endDate">تاریخ پایان</label>
                        <input id="endDate" class="form-control" name="endDate" />
                    </div>
                    <div class="form-group">
                        <label for="project">عنوان پروژه</label>
                        <input id="project" class="form-control" name="project" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">نمایش</button>
                </form>
                <div id="inventoryListGridContainer"></div>
            </div>
        </div>
    </div>
}

<script>
    var inventory = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((List<Inventory>)ViewData["Inventory"]));
    initializeGetInventoryListPage();
</script>