@page
@model HesabfaAPISampleCode.Pages.Report.ProfitandLossStatementModel
@{
    ViewData["Title"] = "گزارش صورت سود و زیان";
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column justify-content-center">
                    <div class="form-group">
                        <label for="startDate">تاریخ شروع</label>
                        <input id="startDate" class="form-control" name="startDate" />
                    </div>
                    <div class="form-group">
                        <label for="endDate">تاریخ پایان</label>
                        <input id="endDate" class="form-control" name="endDate" />
                    </div>
                    <div class="form-group">
                        <label for="project">عنوان پروژه</label>
                        <input id="project" class="form-control" name="project" />
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary submitButton">نمایش</button>
                </div>
                <br>
                <br>
                <div id="simple-treeview"></div>
            </div>
        </div>
    </div>
}

<script>
    $('.submitButton').on('click', () => {
        let startDate = document.getElementById('startDate').value;
        let endDate = document.getElementById('endDate').value
        let project = document.getElementById('project').value;

        fetch("/api/Report/ProfitAndLossStatement", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ startDate: startDate, endDate: endDate, project: project })
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                var list = [];
                formatProfitAndLossStatementData(data.Accounts, list, 1, 0)
                $('#simple-treeview').dxTreeList({
                    dataSource: list,
                    keyExpr: 'id',
                    parentIdExpr: 'parentId',
                    rtlEnabled: true,
                    columns: [
                        {
                            dataField: 'Account',
                            caption: 'حساب',
                            cellTemplate: function (container, options) {
                                $('<div>').text(options.data.Account.Name).appendTo(container);
                            }
                        },
                        {
                            dataField: 'Balance',
                            caption: 'تراز حساب'
                        },
                        {
                            dataField: 'Credit',
                            caption: 'گردش بستانکار'
                        },
                        {
                            dataField: 'Debit',
                            caption: 'گردش بدهکار'
                        },
                        {
                            dataField: 'TotalCredit',
                            caption: 'تراز - بستانکار'
                        },
                        {
                            dataField: 'TotalDebit',
                            caption: 'تراز - بدهکار'
                        },
                        {
                            dataField: 'TotalBalance',
                            caption: 'تراز کل حساب'
                        },
                    ]
                });
            })
            .catch(error => console.error('Error Occured.', error));
    })

</script>