@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Invoice.GetListModel
@{
    ViewData["Title"] = "دریافت لیست فاکتورها";
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column justify-content-center">
                <div class="form-group">
                    <label for="type">نوع فاکتور </label>
                    <select id="type" name="type" class="form-select">
                        <option value="0">فروش</option>
                        <option value="1">خرید</option>
                        <option value="2">برگشت از فروش</option>
                        <option value="3">برگشت از خرید</option>
                        <option value="4">ضایعات</option>
                    </select>
                </div>
                <br />
                <button type="button" class="btn btn-primary submitButton">نمایش</button>
            </div>
            <div id="invoicesGridContainer"></div>
        </div>
    </div>
}

<script type="text/javascript">
    $('.submitButton').on('click', () => {
        fetch("/api/Invoice/GetList", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(parseInt(document.getElementById('type').value))
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                initializeGetInvoicesListPage(data);
            })
            .catch(error => console.error('Error Occured.', error));
    })

</script>
