@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Invoice.GetOnlineURLModel
@{
    ViewData["Title"] = "دریافت لینک فاکتور آنلاین";
    var onlineInvoiceURL = (OnlineInvoiceURL)ViewData["OnlineInvoiceURL"];
    <div class="row">
        <div class="container">
            <div class="col-12">
                <form method="post" class="d-flex flex-column justify-content-center">
                    <div class="form-group">
                        <label for="number">شماره فاکتور مورد نظر</label>
                        <input id="number" class="form-control" name="number" />
                    </div>
                    <div class="form-group">
                        <label for="type">نوع فاکتور </label>
                        <input id="type" class="form-control" name="type" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">نمایش</button>
                </form>
                @if (onlineInvoiceURL != null)
                {
                <table>
                    <thead>
                        <tr>
                            <th>مقدار URL فاکتور آنلاین</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@onlineInvoiceURL.Result</td>
                        </tr>
                    </tbody>
                </table>
                }
            </div>
        </div>
    </div>
}
