@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Invoice.GetOnlineURLModel
@{
    ViewData["Title"] = "دریافت لینک فاکتور آنلاین";
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column justify-content-center">
                    <div class="form-group">
                        <label for="number">شماره فاکتور مورد نظر</label>
                        <input id="number" class="form-control" name="number" />
                    </div>
                    <div class="form-group">
                        <label for="type" class="form-label">نوع فاکتور </label>
                        <select id="type" name="type" class="form-select">
                            <option value="0">فروش</option>
                            <option value="1">خرید</option>
                            <option value="2">برگشت از فروش</option>
                            <option value="3">برگشت از خرید</option>
                            <option value="4">ضایعات</option>
                        </select>
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary submitButton">نمایش</button>
                </div>
                <div id="gridContainer"></div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(".submitButton").on("click", () => {
        const jsonBody = {
            number: $("#number").val(),
            type: $("#type").val()
        }
        fetch("/api/Invoice/GetOnlineInvoiceURL", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonBody)
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                $("#gridContainer").dxDataGrid({
                    dataSource: [data],
                    columnMinWidth: 150,
                    columnHidingEnabled: true,
                    showBorders: true,
                    scrolling: {
                        mode: "standard"
                    },
                    onContentReady: function (e) {
                        e.component.updateDimensions();
                    }
                });
            })
            .catch(error => console.error('Error Occured.', error));
    });
</script>