@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="row">
    <div class="container">
        <div class="col-12">
            <br>
            <table style="text-align: center;" class="table info-table table-striped table-hover">
                <thead>
                    <th scope="row">نام کسب و کار</th>
                    <th scope="row">نام قانونی</th>
                    <th scope="row">تاریخ انقضاء</th>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>

            <div style="direction: rtl;background: #F8F9FA;color: #00AEEF;padding: 2rem;font-weight: bold;">
                <h3>توجه</h3>
                <p>برای ارتباط با نرم افزار باید API Key و Login Token را در Services/BaseService.cs وارد نمایید</p>
            </div>

            <div class="index-description">
                <div>
                    <h4 style="color: #6C757D;font-weight: bold;">مستندات رابط برنامه نویسی حسابفا</h4>
                    <br>
                    <p style="color:rgba(43,43,43,0.75);">
                        با کمک واسط برنامه نویسی حسابفا ، نرم افزار خود را به حسابداری ابری حسابفا متصل و مجهز کنید.
                        <br><br>
                        راهنمای واسطه برنامه نویسی و تمام اطلاعاتی که برای اتصال به حسابفا و بکارگیری API نیاز دارید را در اینجا مرور کنید.
                    </p>
                </div>
                <div>
                    <img src="./assets/feature.jpg" alt="feature">
                </div>
            </div>
        </div>
    </div>
</div>

