<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HesabfaAPISampleCode</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HesabfaAPISampleCode.styles.css" asp-append-version="true" />
    <link href="~/css/dx.light.compact.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/dx.all.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <link rel="icon" href="~/assets/hesabfaIcon.png" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <img style="width: 40px;height: 40px" src="~/assets/hesabfaIcon.png" alt="hesabfaIcon">
                    <img style="width: 70px;height: 60px" src="~/assets/hesabfa-logo.png" alt="logo">
                </li>

                <li class="home-list">
                    <a asp-page="/Index">خانه</a>
                </li>

                <li class="home-list">
                    <a asp-page="/Errors/Errors">جدول کدهای خطا</a>
                </li>

                <li class="dropdown">
                    <button class="dropbtn">متد های کالاها و خدمات</button>
                    <div class="dropdown-content">
                        <a asp-page="/Item/Get">دریافت</a>
                        <a asp-page="/Item/Save">ذخیره</a>
                        <a asp-page="/Item/GetByBarcode">دریافت از طریق بارکد</a>
                        <a asp-page="/Item/GetById">دریافت از طریق Id</a>
                        <a asp-page="/Item/GetList">دریافت لیست</a>
                        <a asp-page="/Item/Delete">حذف</a>
                        <a asp-page="/Item/GetInventoryList">لیست موجودی کالاها</a>
                        <a asp-page="/Item/UpdateOpeningQuantity">به روز رسانی موجودی اول دوره کالاها</a>
                    </div>
                </li>

                <li class="dropdown">
                    <button class="dropbtn">متد های فاکتور</button>
                    <div class="dropdown-content">
                        <a asp-page="/Invoice/Save">ذخیره فاکتور</a>
                        <a asp-page="/Invoice/Delete">حذف فاکتور</a>
                        <a asp-page="/Invoice/GetList">دریافت لیست</a>
                        <a asp-page="/Invoice/Get">دریافت فاکتور</a>
                        <a asp-page="/Invoice/SavePayment"> ثبت دریافت و پرداخت فاکتور</a>
                        <a asp-page="/Invoice/GetInvoiceById">دریافت از طریق Id</a>
                        <a asp-page="/Invoice/GetOnlineURL">دریافت URL فاکتور آنلاین</a>
                        <a asp-page="/Invoice/SaveWarehouseReceipt">ذخیره حواله انبار</a>
                    </div>
                </li>

                <li class="dropdown">
                    <button class="dropbtn">متد های اشخاص</button>
                    <div class="dropdown-content">
                        <a asp-page="/Contact/Get">دریافت</a>
                        <a asp-page="/Contact/GetList">دریافت لیست</a>
                        <a asp-page="/Contact/GetById">دریافت از طریق Id</a>
                        <a asp-page="/Contact/Save">ذخیره</a>
                        <a asp-page="/Contact/Delete">حذف</a>
                        <a asp-page="/Contact/GetContactLink">لینک کارت حساب</a>
                    </div>
                </li>

                <li class="dropdown">
                    <button class="dropbtn">متد های دریافت و پرداخت</button>
                    <div class="dropdown-content">
                        <a asp-page="/Receipt/GetList">نمایش لیست رسیدهای دریافت یا پرداخت</a>
                        <a asp-page="/Receipt/Get">دریافت رسید دریافت یا پرداخت</a>
                        <a asp-page="/Receipt/Save">ذخیره رسید</a>
                        <a asp-page="/Receipt/Delete">حذف رسید</a>
                    </div>
                </li>

                <li class="dropdown">
                    <button class="dropbtn">متد های ثبت سند حسابداری</button>
                    <div class="dropdown-content">
                        <a asp-page="/Accounting/Get">دریافت</a>
                        <a asp-page="/Accounting/Save">ذخیره</a>
                        <a asp-page="/Accounting/GetList">دریافت لیست</a>
                        <a asp-page="/Accounting/Delete">حذف سند</a>
                    </div>
                </li>

                <li class="dropdown">
                    <button class="dropbtn">سایر متدها</button>
                    <div class="dropdown-content">
                        <a asp-page="/Setting/GetLastChanges">دریافت آخرین تغییرات</a>
                        <a asp-page="/Setting/GetFiscalYearsList">دریافت لیست سال مالی</a>
                        <a asp-page="/Setting/GetBanks">دریافت لیست بانک ها</a>
                        <a asp-page="/Setting/GetCashes">دریافت لیست صندوق ها</a>
                        <a asp-page="/Setting/GetPettyCashes">دریافت لیست تنخواه گردان ها</a>
                        <a asp-page="/Setting/GetCurrency">دریافت واحد پول</a>
                        <a asp-page="/Setting/GetWarehouses">دریافت لیست انبار ها</a>
                        <a asp-page="/Setting/GetProductCategories">دریافت لیست دسته بندی کالا ها</a>
                        <a asp-page="/Setting/GetServiceCategories">دریافت لیست دسته بندی خدمات</a>
                        <a asp-page="/Setting/GetContactCategories">دریافت لیست دسته بندی اشخاص</a>
                        <a asp-page="/Setting/GetFiscalYear">دریافت اطلاعات سال مالی جاری</a>
                        <a asp-page="/Setting/GetProjectsList">دریافت لیست پروژه ها</a>
                        <a asp-page="/Setting/GetSalesmenList">دریافت لیست فروشنده ها</a>
                        <a asp-page="/Setting/GetCurrencyTable">دریافت جدول نرخ برابری ارزها</a>
                        <a asp-page="/Setting/SetCurrencyTable">تنظیم جدول نرخ برابری ارزها</a>
                        <a asp-page="/Setting/GetAccounts">دریافت جدول حساب ها</a>
                        <a asp-page="/Setting/GetBusinessInfo">دریافت اطلاعات کسب و کار</a>
                    </div>
                </li>

                <li class="dropdown">
                    <button class="dropbtn">متد های دریافت گزارش</button>
                    <div class="dropdown-content">
                        <a asp-page="/Report/Balancesheet">گزارش ترازنامه</a>
                        <a asp-page="/Report/DebtorsCreditors">گزارش بدهکاران و بستانکاران</a>
                        <a asp-page="/Report/ProfitandLossStatement"> گزارش صورت سود و زیان</a>
                        <a asp-page="/Report/Inventory">گزارش موجودی کالا</a>
                        <a asp-page="/Report/TrialBalance">گزارش تراز آزمایشی</a>
                        <a asp-page="/Report/TrialBalanceItems">گزارش آیتم های تفضیلی تراز آزمایشی</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h4>@ViewData["Title"]</h4>
            @RenderBody()
        </main>
    </div>


    <script type='text/javascript'>
        function init() {
            $('button.dropbtn').on('click', (e) => {
                $(".dropdown-content").slideUp();
                $(e.target).next().stop().slideToggle();
            });
        }

        $(document).ready(() => {
            init();
        });

        var url = window.location.href;
        var path = url.split('/').slice(3).join('/');
        if(path != '')  $('a[href="/' + path + '"]').parent().slideDown();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>