@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Receipt.GetModel
@{
    ViewData["Title"] = "دریافت رسید دریافت یا پرداخت";
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="Error-Container"></div>
                <div class="d-flex flex-column justify-content-center">
                    <div class="form-group">
                        <label for="type">نوع رسید </label>
                        <select id="type" name="type" class="form-select">
                            <option value="1">دریافت</option>
                            <option value="2">پرداخت</option>
                        </select>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="number">شماره رسید </label>
                        <input id="number" type="text" name="number" class="form-control" />
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary submitButton">نمایش</button>
                </div>
                <div id="receiptGridContainer"></div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>شماره رسید</th>
                            <th>تاریخ رسید</th>
                            <th>شرح</th>
                            <th>مبلغ رسید</th>
                            <th>واحد پول رسید</th>
                            <th>پروژه</th>
                            <th>Items</th>
                            <th>Transactions</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
}
<script>
    $(".submitButton").on('click', (e) => {

        const jsonBody = {
            type: parseInt($("#type").val()),
            number: parseInt($("#number").val())
        };

        fetch("/api/Receipt/Get", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonBody)
        })
            .then(response => {
                return response.json();
            })
            .then(data => {

                if(data.status == 400) {

                    document.getElementById("tbody").innerHTML = ``;
                    $(".Error-Container").css("display", "block");
                    $(".Error-Container").addClass("alert alert-danger");
                    $(".Error-Container").css("direction", "ltr");
                    $(".Error-Container").text("ErrorCode: 400 ErrorMessage: Bad Request");

                } 

                if (!data.Success && data.status != 400) {

                    document.getElementById("tbody").innerHTML = ``;
                    $(".Error-Container").css("display", "block");
                    $(".Error-Container").addClass("alert alert-danger");
                    $(".Error-Container").css("direction", "ltr");
                    $(".Error-Container").text(`ErrorCode: ${data.ErrorCode} ErrorMessage: ${data.ErrorMessage}`);
                
                }

                if(data.number) {
                    $(".Error-Container").css("display", "none");

                    const amount = data.amount;
                    const currency = data.currency;
                    const dateTime = data.dateTime;
                    const description = data.description;
                    const number = data.number;
                    const project = data.project;
                    const tr = `
                        <tr id="tableRow">
                            <td>${number}</td>
                            <td>${dateTime}</td>
                            <td>${description}</td>
                            <td>${amount}</td>
                            <td>${currency}</td>
                            <td>${project}</td>

                        </tr>
                    `;

                    document.getElementById("tbody").innerHTML += tr;

                    data.items.map(item => {
                        const contactId = item.contact.id;
                        const contactCode = item.contact.code;
                        const contactName = item.contact.name;
                        let itemsCell = 
                        `
                            <td>
                                ${contactId}
                                <br>
                                ${contactCode}
                                <br>
                                ${contactName}
                                <br>
                            </td>
                        `;
                        document.getElementById("tableRow").innerHTML += itemsCell;
                    });
                    var td = document.createElement('td');
                    data.transactions.map(transaction => {
                        Object.keys(transaction).forEach(function(key, index) {
                            if (typeof transaction[key] === "object" && transaction[key]) {
                                const id = transaction[key].id;
                                const code = transaction[key].code;
                                const name = transaction[key].name;
                                let itemsCell = `
                                    <div>
                                        ${id}
                                       <br>
                                        ${code}
                                       <br>
                                        ${name}
                                       <br>
                                    </div>
                                `;
                                td.innerHTML += itemsCell;
                            }
                        });
                        document.getElementById("tableRow").append(td);
                    });
                }
            })
            .catch(error => console.error('Error Occured.', error));
    })
</script>