@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Receipt.GetListModel
@{
    ViewData["Title"] = "دریافت لیست رسیدهای دریافت یا پرداخت";
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column justify-content-center">
                <div class="form-group">
                    <label for="type">نوع رسید </label>
                    <select id="type" name="type" class="form-select">
                        <option value="1">دریافت</option>
                        <option value="2">پرداخت</option>
                    </select>
                </div>
                <br />
                <button type="submit" class="btn btn-primary submitButton">نمایش</button>
            </div>
            <div id="receiptsGridContainer"></div>
        </div>
    </div>
}

<script type="text/javascript">
    $('.submitButton').on('click', () => {
        let type = $('#type').val();

        fetch("/api/Receipt/GetList", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(type)
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                initializeGetReceiptsListPage(data.List);
            })
            .catch(error => console.error('Error Occured.', error));
    })
</script>