@page
@model HesabfaAPISampleCode.Pages.Item.DeleteModel
@{
    ViewData["Title"] = "حذف کالا یا خدمات";
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="form-group" style="width:100%;">
                    <label for="code" class="form-label">کد حسابداری کالای مورد نظر</label>
                    <input id="code" class="form-control" name="code" />
                </div>
                <br>
                <button class="btn btn-danger submitButton">حذف</button>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    $('.submitButton').on('click', () => {
        fetch("/api/Item/Delete", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify($('#code').val())
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if (data) {
                    alert("آیتم حذف گردید");
                } else {
                    alert("خطا در عملیات");
                }
            })
            .catch(error => console.error('Error Occured.', error));
    })
</script>