@page
@model HesabfaAPISampleCode.Pages.Item.DeleteModel
@{
    ViewData["Title"] = "حذف کالا یا خدمات";
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="Error-Container"></div>
                <div class="form-group" style="width:100%;">
                    <label for="code" class="form-label">کد حسابداری کالای مورد نظر</label>
                    <input id="code" class="form-control" name="code" />
                </div>
                <br>
                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn btn-danger submitButton">حذف</button>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    $('.submitButton').on('click', () => {
        fetch("/api/Item/Delete", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify($('#code').val())
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if(!data.success) {
                    $(".Error-Container").css("display", "block");
                    $(".Error-Container").addClass("alert alert-danger");
                    $(".Error-Container").css("direction", "ltr");
                    $(".Error-Container").text(`ErrorCode: ${data.errorCode} ErrorMessage: ${data.errorMessage}`);
                }
                if (data.success || data.result) {
                    $(".Error-Container").css("display", "none");
                    alert("آیتم حذف گردید");
                }
            })
            .catch(error => console.error('Error Occured.', error));
    })
</script>