@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Item.GetByBarcodeModel
@{
    ViewData["Title"] = "دریافت کالا یا خدمات از طریق بارکد";
    <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="Error-Container"></div>
                <div class="d-flex flex-column justify-content-center">
                    <div class="form-group">
                        <label for="barcode">بارکد کالای مورد نظر </label>
                        <input id="barcode" type="text" name="barcode" class="form-control" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary submitButton">نمایش</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>کد حسابداری کالا یا خدمات</th>
                                <th>نام کالا یا خدمات</th>
                                <th>بارکد کالا یا خدمات</th>
                                <th>نوع</th>
                                <th>واحد خرید و فروش</th>
                                <th>موجودی</th>
                                <th>قیمت خرید</th>
                                <th>قیمت فروش</th>
                                <th>عنوان در فاکتور فروش</th>
                                <th>عنوان در فاکتور خرید</th>
                                <th>مسیر دسته بندی</th>
                                <th>Tag</th>
                                <th>توضیحات</th>
                                <th>کد کالا یا خدمات</th>
                                <th>وضعیت کالا</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $('.submitButton').on('click', () => {
        let barcode = $('#barcode').val();

        fetch("/api/Item/GetByBarcode", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(barcode)
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if(data.code){
                    $(".Error-Container").css("display", "none");
                    document.getElementById("tbody").innerHTML = ``;
                    let tr =
                        `<tr>
                            <td>${data.code}</td>
                            <td>${data.name}</td>
                            <td>${data.barcode}</td>
                            <td>${data.itemType}</td>
                            <td>${data.unit}</td>
                            <td>${data.stock}</td>
                            <td>${data.buyPrice}</td>
                            <td>${data.sellPrice}</td>
                            <td>${data.purchasesTitle}</td>
                            <td>${data.salesTitle}</td>
                            <td>${data.nodeFamily}</td>
                            <td>${data.tag}</td>
                            <td>${data.description}</td>
                            <td>${data.productCode}</td>
                            <td>${data.active}</td>
                        </tr>`;
                    document.getElementById("tbody").innerHTML += tr;
                    } else {
                        if(!data.Success) {
                        document.getElementById("tbody").innerHTML = ``;
                        if (data.errorCode) {
                            $(".Error-Container").css("display", "block");
                            $(".Error-Container").addClass("alert alert-danger");
                            $(".Error-Container").css("direction", "ltr");
                            $(".Error-Container").text(`ErrorCode: ${data.errorCode} ErrorMessage: ${data.errorMessage}`);
                        } else {
                            $(".Error-Container").css("display", "block");
                            $(".Error-Container").addClass("alert alert-danger");
                            $(".Error-Container").css("direction", "ltr");
                            $(".Error-Container").text(`ErrorCode: 400 ErrorMessage: Bad Request`);
                        }
                    }
                }
            })
            .catch(error => console.error('Error Occured.', error));
    })
</script>