@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Item.InventoryListModel
@{
    ViewData["Title"] = "لیست موجودی کالاها";

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center flex-column">
                    <div class="form-group">
                        <label for="warehouseCode">	کد انبار (اختیاری)</label>
                        <input id="warehouseCode" class="form-control" name="warehouseCode" />
                    </div>
                    <div class="form-group">
                        <label for="codes">	کد کالاها (اختیاری)</label>
                        <input id="codes" class="form-control" name="codes" />
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary submitButton">نمایش</button>
                </div>
                <div id="inventoryGridContainer" style="height: 100%;"></div>
            </div>
        </div>
    </div>
}

    
<script>
    $(".submitButton").on('click', (e) => {
        e.preventDefault();

        const warehouseCode = $("#warehouseCode").val();
        let codes = $('#codes').val().split(',').map(code => code.trim()).filter(code => code !== "").map(Number);

        const jsonBody = {
            warehouseCode: warehouseCode ? parseInt(warehouseCode) : 0,
            codes: codes.length > 0 ? codes : null
        };

        fetch("/api/Item/GetQuantityList", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonBody)
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                initializeGetInventoryListPage(data);
            })
            .catch(error => console.error('Error Occurred.', error));
    });
</script>