@page
@using HesabfaAPISampleCode.Models
@model HesabfaAPISampleCode.Pages.Item.GetListModel
@{
    ViewData["Title"] = "دریافت لیست کالاها و خدمات";
    <div class="container">
        <div class="row">
            <div class="col-12" style="overflow: auto; height: 100vh; width: 100%;">
                <div id="productGridContainer" style="height: 100%;"></div>
            </div>
        </div>
    </div>
}

<script>
    fetch("/api/Item/GetList", {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
    })
        .then(response => {
            return response.json();
        })
        .then(data => {
            initializeGetProductListPage(data);
        })
        .catch(error => console.error('Error Occured.', error));
</script>
